{% extends 'base.html'%}

{%block title%}Agregar un nuevo credito{%endblock%}

{% block content %}


<div class="container mt-4 d-flex justify-content-center">
    <div class="card shadow-lg p-4" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title text-center mb-4">Datos del credito</h5>
            <form action="{{ url_for('create_creditos')}}" method="POST">
                <label for="id_cliente">Nombre del cliente:</label>
                <select name="id_cliente" required>
                    <!-- Aquí se insertarán las opciones dinámicamente -->
                    <option >Selecciona un Cliente</option>
                    {% for cliente in clientes %}
                        <option value="{{  cliente.id_cliente }}">{{ cliente.nombre }}</option>
                    {% endfor %}
                </select><br>

                <label for="monto">Monto:</label>
                <input type="number" name="monto" required><br>

                <label for="interes">Interés:</label>
                <input type="number" name="interes" required><br>

                <label for="no_pagos">Número de Pagos:</label>
                <input type="text" name="no_pagos" required><br>

                <label for="fecha_inicio">Fecha de Inicio:</label>
                <input type="date" name="fecha_inicio" required><br>

                <label for="fecha_fin">Fecha de Fin:</label>
                <input type="date" name="fecha_fin" required><br>

                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                <a href="{{ url_for('creditos')}}" class="btn btn-danger">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </form>

        </div>
    </div>
</div>

<!-- Enlazar Font Awesome si no está ya incluido -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

{% endblock %}