{% extends 'base.html'%}

{%block title%}Menu Financial Loans{%endblock%}

{% block content %}

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center fw-semibold ">Lista de creditos vigentes</h5>
                <p class="card-text">Lista de creditos vigentes.
                </p>
                <a href="{{ url_for('creditos')}}" class="btn btn-primary"><i class="fa-solid fa-right-to-bracket"></i>
                    Ingresar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center fw-semibold ">Lista de clientes</h5>
                <p class="card-text">Aqui se muestra una lista con todos los clientes
                    registrados en el sistema.
                </p>
                <a href="{{ url_for('index')}}" class="btn btn-primary"><i class="fa-solid fa-right-to-bracket"></i>
                    Ingresar</a>
            </div>
        </div>
    </div>
</div>



{% endblock %}